{%extends "layout.html"%}
{%block content%}
<div class="grid-container">
{% for item in results %}
<div class="grid-container">
    <section class="images_layer">
        <div class="row">
            <div class="images_layer-col">
                <a href="recipe/{{item[0]}}">
                <img src="{{item[8]}}">
                <div class="layer">
                    <h3>{{item[1]}}</h3>
                </div>
                </a>
            </div>
        </div>
    </section>
</div>
{% endfor %}
</div>     
{%endblock%} 