<section class="header">
  <nav>
    <!-- Navigation links container with ID 'navLinks' for toggling -->
    <div class="nav-links" id="navLinks">
      <!-- list for navigation items -->
      <ul>
        <!-- Home link -->
        <li><a href="/">HOME</a></li>
        <!-- Contact link -->
        <li><a href="/contact">CONTACT</a></li>
        <!-- About link -->
        <li><a href="/about">ABOUT</a></li>
        <!-- Recipes link -->
        <li><a href="/all_recipes">RECIPES</a></li>
      </ul>
    </div>
  </nav>
</section>
