{%extends "layout.html"%}
{%block content%}
<div class="">
    <h1>{{recipe[1]}}</h1>
    <p>Prep Time : {{recipe[2]}} min | Difficulty : {{recipe[3]}}/5 | Cooking Time : {{recipe[5]}} min</p>
    <p>{{recipe[4]}}</p>

    <!-- <h1>Ingredients</h1>
      {% for item in ingredients %}
        <p>• {{item[0]}}</p>
      {% endfor %} -->
    <h2>Ingredients</h2>
    {%for item in ingredient%}
    {% for measurement in quantity %} 
    {% if measurement[1] == item[0] %}
    
    <p>• {{item[1]}} - {{measurement[2]}}</p>
    {% endif %}
    {% endfor %}
    {%endfor%}
    

    {#Safe is used to bypass the flask security system and enable line breaks#}
    <h1>Instructions</h1>
    <p>{{recipe[6]|safe}}</p>

    <h2>Write A Review</h2>
    <form action="/recipes" method="POST" class="review-form">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br>
    
        <label for="review">Review:</label>
        <input type="text" name="review" id="review" required><br>
        
        <label for="rating">Rating:</label>
        <select name="rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    
        <!-- The recipe_id is passed as a hidden input -->
        <input type="hidden" name="recipe_id" id="recipe_id" value="{{ recipe[0] }}" required><br>
      
        <input type="submit" value="Submit" class="submit-btn">
    </form>    


    <h2>Reviews:
        {% if reviews %}
            <ul class="review-list">
                {% for review in reviews %}
                    {% if review[2] %}
                        <h4 class="review-item">
                            <strong>{{ review[1] }} | </strong> {{ review[2] }}/10
                            <p>{{ review[3] }}</p>
                        </h4>
                    {% else %}
                        <h4 class="review-item">No rating provided. Review: <p>{{ review[3] }}</p></h4>
                    {% endif %}
                {% endfor %}
            </ul>
          </h2>
        {% else %}
            <h2>No reviews available for this recipe.</h2>
        {% endif %}
    
    <br>
    <br>
    
{%endblock%}